.contactArea { background-color: #f0f0f0; }
#wpgmza_map { border-top: 2px solid #f86159; border-bottom: 2px solid #f86159;}
.frmlbl { font-weight: 300; font-size: 14px; color: #354b60; }
.btn-primary { background-color: #f86159!important; border-color: #f86159!important; }